@font-face {
  font-family: Vazir-medium;
  src: url("../../fonts/vazirmatn-v33.003/fonts/ttf/Vazirmatn-Medium.ttf");
}

@font-face {
  font-family: Vazir-regular;
  src: url("../../fonts/vazirmatn-v33.003/misc/Farsi-Digits/fonts/ttf/Vazirmatn-FD-Regular.ttf");
}

@font-face {
  font-family: Vazir-light;
  src: url("../../fonts/vazirmatn-v33.003/fonts/ttf/Vazirmatn-Light.ttf");
}

body {
  font-family: Vazir-regular;
  background: #fafafa;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #344563;
  // overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
  color: #344563;
}

.v-breadcrumbs-item--link:hover {
  text-decoration: none;
  color: #4e6ea1;
}

.v-container {
  max-width: 98%;
  padding-top: 11px;
  padding-bottom: 11px;
}

.v-btn {
  letter-spacing: 0 !important;
  box-shadow: none;

  &:hover {
    box-shadow: none !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.shadow {
  box-shadow: 5px 5px 10px -9px #2b2b2bb5 !important;
}

.v-btn--size-default {
  height: 32px !important;
}

.v-list-item__spacer {
  width: 10px !important;
}

.header-list {
  .menu {
    height: 25px;
  }

  .v-list {
    .v-list-item {
      display: inline-block;
      padding: 0;

      a {
        border-radius: 3px;
        margin: 0 4px;
        padding: 6px 12px 6px 5px;
        transition: all 0.2s ease-in-out;
        color: #344563;

        &:hover {
          background: rgba(222, 235, 255, 0.9);
          color: #0052CC;

          i {
            color: #0052CC;
          }
        }

        &:focus {
          color: #0052CC;
        }
      }
    }
  }

  .v-list-item--density-default.v-list-item--one-line {
    min-height: 0;
  }
}

.admin-icon {
  background: #0052CC;
  width: 29px;
  height: 29px;
  border-radius: 50px;
  color: #fff;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 11px;
  }
}

.list-account {
  min-width: 240px;
  font-size: 12.5px;
  color: #344563;

  .v-list-item {
    padding: 0 16px;
    min-height: 42px;

    .v-list-item-title {
      font-family: Vazir-medium;
      font-size: 12.5px;
    }

  }
}

.list-cog {
  min-width: 400px;
  color: #344563;

  .item-title {
    padding: 0;
    font-size: 12.5px;
    font-family: Vazir-medium;
    min-height: 35px;
    color: #9d9faf !important;
    margin-bottom: -10px;
  }

  .v-list-item {
    min-height: 42px;

    i {
      background: #0b1932;
      color: #fff;
      width: 28px;
      height: 28px;
      border-radius: 5px;
      font-size: 17px;
    }
  }

  .v-list-item-title {
    font-size: 12.5px;
  }
}

.v-layout {
  flex: 0;
}

.header-icons {
  .v-btn {
    padding: 0;
    min-width: 32px;
    border-radius: 50px;
    font-size: 16px;
    margin: 0 3px;

    &:hover {
      background: rgba(222, 235, 255, 0.9);
      color: #0052CC;
    }

    &:focus {
      background: rgb(226 238 255 / 90%);
      color: #0052CC;
    }
  }
}
.help-box-navigation {
  .v-navigation-drawer {
    width: 330px !important;
  }

  .v-locale--is-ltr {
    direction: rtl !important;
  }

  .v-navigation-drawer__content {
    direction: rtl !important;
  }
}
.navigation-help {
  direction: rtl !important;
  width: 400px !important;
}

.notification-box {
  
  .v-list-item-title {
    font-size: 12.5px !important;
    font-family: Vazir-medium;
    color: #344563;
  }
  .v-list-item-subtitle {
    color: #344563;
    font-size: 12.5px;
  }
}

.list__filter {
  .v-list-item__content {
    display: flex;
    color: #344563;

    .v-list-item-title {
      font-size: 12.5px !important;

    }

    i {
      font-size: 19px;
    }
  }
}

.item-share {
  font-size: 12.5px !important; 
  color: #344563;

  .v-list-item__content{
    display: flex;
  }

  .v-list-item-title {
    font-size: 12.5px !important; 

  }

  .share-description {
    display: inline-block;
    padding: 13px 16px 8px;
  }
}

// جستجو
.search-box {
  .v-card {
    height: 34px;
    box-shadow: none;
    border: 2px solid #DFE1E6;

    .v-field__field {
      height: 31px;
    }

    .v-text-field .v-field--single-line input {
      min-height: 0px;
      height: 32px;
      font-size: 14px;
      padding-right: 7px;
    }

    .v-field {
      display: flex;
      flex-direction: row-reverse !important;

      label {
        font-size: 14px;
        font-family: Vazir-regular;
        color: #344563;
        margin-right: 6px;
      }

      i {
        font-size: 21px;
        color: #344563;
        margin-right: 5px;
      }
    }
  }

  .search-responsive {
    border-radius: 50px;
    color: #7b8699;
    margin-left: -8px;
    display: none;

    i {
      font-size: 19px;
    }
  }
}

.search-body .v-card .v-field {
  background: #FAFBFC;
}

.v-navigation-drawer {
  top: 56px !important;
  width: 240px !important;

  .v-list-item--density-default.v-list-item--one-line {
    min-height: 38px;
    color: #172B4d;
    font-size: 14px;
    font-family: Vazir-medium;


    i {
      font-size: 21px;
    }
  }

  .v-list-item--nav .v-list-item-title {
    font-family: Vazir-regular;
    color: #344563;
    font-size: 12.5px;
  }
}

.project-title {
  padding: 4rem 16rem 0 1rem;

  .v-breadcrumbs--density-default {
    padding-right: 0;
    padding-bottom: 0;

    .v-breadcrumbs-item {
      padding: 0;
    }
  }

  h6 {
    font-size: 20px;
  }
}

.list-todo-box {
  width: 150px;

  .v-list-item {
    min-height: 39px;
    padding-right: 10px !important;

    .v-list-item-title {
      font-size: 12.5px;
    }

    i {
      font-size: 19px;
    }
  }
}



// ریسپانسیو
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 959px) {
  .search-responsive {
    display: flex !important;
  }
}